/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(../fonts/ViZhet7Ak-LRXZMXzuAfkTTOQ_MqJVwkKsUn0wKzc2I.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(../fonts/ViZhet7Ak-LRXZMXzuAfkTUj_cnvWIuuBMVgbX098Mw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(../fonts/ViZhet7Ak-LRXZMXzuAfkUbcKLIaa1LC45dFaAfauRA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(../fonts/ViZhet7Ak-LRXZMXzuAfkWo_sUJ8uO4YLWRInS22T3Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(../fonts/ViZhet7Ak-LRXZMXzuAfkSYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url( ../fonts/ViZhet7Ak-LRXZMXzuAfkY4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.pane-body{
	padding: 20px;
}

form *{
	transition: .2s all ease;
}

.sidebar input{
	transition: .2s all ease;
}

#modal, #sttg{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.7);
	z-index: 99;
  overflow-y: auto;
  padding-bottom: 40px;
}

#sttg{
	z-index: 1000;
}

#modal .wrap, #sttg .wrap{
	width: 60%;
	min-height: 60%;
	margin-left: 20%;
	background: #fff;
	margin-top: 20vh;
	border-radius: 5px;
}

a{
	text-decoration: none;
}

.toolbar{
	-webkit-app-region: drag;
	z-index: 999;
}

.toolbar::before, .toolbar::after{
  -webkit-app-region: no-drag;
  height: 3px;
  width: 100%;
  position: fixed;
}

#frame{
  border-bottom: 1px solid #000;
  display: flex;
  color: #959da5;
}

#closeWindow, #minimizeWindow, #maximizeWindow{
    position: fixed;
    top: 0;
    font-size: 15px;
    -webkit-app-region: no-drag;
}

.frameless-btn{
	width: 50px;
	height: 29px;
	z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s ease all;
}

.frameless-btn:hover{
  background: rgba(255,255,255,.2);
}

.frameless-btn:hover svg{
  fill: #fff;
}

#closeWindow{right:0px; } #closeWindow:hover{background-color: red;}
#minimizeWindow{right: 100px}
#maximizeWindow{right: 50px}

.button-div{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom:
	5px;
}

.button-div button{
	margin-right: 5px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
  display: none;
}

::-webkit-scrollbar-track-piece  {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: #09f;
  -webkit-border-radius: 0px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
	top: calc(50vh - 60px);
  left: calc(50% - 60px);
	position: fixed;
  z-index: 9999999999999;
	display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loaderbg{
	background: rgba(0,0,0,.7);
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 9999999;
	display: none;
}

.stats{
	color: #fff;
	background: #09f;
	padding: 10px;
	margin-bottom: 10px;
	display: inline-block;
	float: left;
	width: 50%;
}
#stats{
	margin-bottom: 20px
	width: 100%;
}

.colored{
	background-color: #09f!important;
	text-align: center;
	color: #fff;
}

.colored p{
	margin: 0;
	padding: 0;
}

.clienteItem:active{
	background-color: #09f;
	color: #fff;
}

.opacity-0{
	opacity: 0
}


#app-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 29px;
}


.tab{
  border: none;
  border-right: 1px black solid;
  height: 50px;
  min-width: 210px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 99999999;
  -webkit-app-region: no-drag;
  padding: 10px;
  transition: .2s ease all;
}

.tabs-group{
  display: flex
}

.tabs-icons{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

#settingsBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  background-color: transparent;
  border: none;
  border-left: 1px #000 solid;
  color: #959da5;
  z-index: 9999999;
  -webkit-app-region: no-drag;
}

.tab:hover, #settingsBtn:hover{
  color: #fff;
  background: rgba(255,255,255,.05);
}

.tab-icon{
  font-size: 16px;
}

.tab-fields{
  margin-left: 10px;
  margin-bottom: -3px;
}

.tab-desc{
  font-size: 11px;
  color: #959da5;
  margin-bottom: -4px;
}

.tab-title{
  font-size: 12px;
}

.tab-active{
  box-shadow: inset 0px -3px 0 #09f;
}

.btn-tab{
  width: 210px;
  background: #09f;
  color: #fff;
}

.btn-tab .tab-desc{
  color: #fff;
}

.btn-tab:hover{
  background: #07f;
}

#main-menu{
  margin: 0;
  padding: 0;
  -webkit-app-region: no-drag;
}

#main-menu li{
  list-style: none;
  display: inline-block;
  height: 29px;
  line-height: 29px;
  padding: 0 10px;
  font-size: 12px;
}

#main-menu li:hover{
  background: rgba(255,255,255,.05);
  color: #fff;
}

.main-search{
  border: none!important;
  cursor: text;
  border-bottom: 1px #959da5 solid!important;
  outline: none;
  padding: 5px;
  transition: .2s ease all;
}

.main-search:focus{
  border-bottom: 1px #09f solid!important;
}

.pane-body h3{
  font-size: 20px;
  text-align: center;
  margin: 0;
}

#main-menu li:hover .hidden-menu{
  color: #222;
}

ul.hidden-menu{
  background: #fff;
  position: absolute;
  z-index: 99999999999999;
  padding: 0;
  margin-left: -10px;
  min-width: 200px;
}

.hidden-menu li{
  display: flex!important;
}

.hidden-menu li:hover{
  background: #09f!important;
}

.hidden-menu li .shortcut{
  color: #ccc;
  margin-left: auto;
  margin-right: 5px;
}

.hidden-menu .divisor{
  width: 100%;
  height: 1px;
  background: #ccc;
  margin: 5px 0;
}

.menu-active{
  background: #fff!important;
  color: #000!important;
}


#console{
  position: absolute;
  z-index: 9999;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: #24292e;
  border-top: 1px #000 solid;
  display: flex
}

#console textarea{
  height: 100%;
  width: 50%;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 2em;
  padding: 15px;
  font-family: 'Ubuntu Mono', monospace;
  outline: none;
}

#history{
  width: 25%;;
  color: #959da5;
  padding: 15px;
  border-left: rgba(255,255,255,.1) 1px solid;
  font-family: 'ubuntu mono', monospace;
  font-size: 1.3em;
}

#live{
  width: 25%;;
  color: #959da5;
  padding: 15px;
  border-left: rgba(255,255,255,.1) 1px solid;
  font-family: 'ubuntu mono', monospace;
  font-size: 1.3em;
  overflow: hidden;
  overflow-y: auto
}

#quest{
  position: absolute;
  color: #ffffff;
  margin: 15px;
  font-family: 'ubuntu mono', monospace;
  font-size: 2em;
}

.isQuest{
  padding: 45px 15px 15px!important
}

/* .slideThree */
.slideThree {
  width: 80px;
  height: 26px;
  background: #222;
  margin: 10px 0;
  position: relative;
  border-radius: 50px;
}
.slideThree:after {
  content: 'OFF';
  color: #FFF;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.slideThree:before {
  content: 'ON';
  color: #09f;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.slideThree label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
  visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
  left: 43px;
}

.settings{
  display: flex;
  height: 100%;
}

.settings #left{
  width: 50%;
  border-right: 1px rgba(255,255,255,.02) solid;
  padding: 20px;
}
.settings #right{
  width: 50%;
  padding: 20px;
}

.btn-ext{
  width: 320px;
}


.about{
  position: absolute;
  bottom: 20px;
  width: 270px;
}