@import "../vars";
@import "../atoms/controllers";

#window-frame {
  background-color: $light;
  height: 37px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 15px;

  user-select: none;
  -webkit-app-region: drag;

  border-bottom: 1px solid $grey;

  .window-title {
    color: $dark;
    font-size: 15px;
  }

  .window-controllers {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    
    .controller {
      height: 100%;
      width: 55px;
      -webkit-app-region: no-drag;

      &:hover {
        background-color: lighten($dark, 80%);

        &#close {
          background-color: darken(red, 5%);
        }
      }
    }
  }

  &.blur {
    .window-controllers,
    .window-title {
      opacity: .5
    }
  }
}