@import "../vars";

#gestao-app {
  .tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 60px;
    background-color: light;

    border-bottom: 1px solid $grey;

    .tab {
      min-width: 200px;
      height: 100%;
      
      flex-grow: 1;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 15px;

      .icon {
        font-size: 16px;
        color: rgba($dark, .7);
        margin-right: 10px;
      }

      cursor: pointer;
      transition: .15s ease;

      &.active {
        border-right: 1px solid $grey;
        &:not(:first-child) {
          border-left: 1px solid $grey;
        }
        position: relative;
        
        &:after {
          height: 1px;
          width: 100%;
          background-color: $light;
          bottom: -1px;
          left: 0;
          content: '';
          display: block;
          position: absolute;
        }
      }

      &:hover {
        background-color: rgba($dark, .025);
        &:not(.active) {
          border-color: rgba($primary, .1);
        }
      }
    }

  }
}