<!DOCTYPE html>
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    title #{title} 
    link(rel="stylesheet", href="./assets/css/main.css")
    link(rel="stylesheet", href="./assets/fontawesome-free/css/all.min.css")
    script(src="./render.js")
  body