#lateral-menu
  .app-title Molecule
  ul.app-list
    li.app.active
      span.icon
        i.far.fa-chart-bar
      span.name Gestão
    li.app 
      span.icon
        i.fab.fa-whatsapp
      span.name WhatsApp